/*Variables*/
:root {
    --primary-color: #000000;
    --primary-bg-color: #d3d3d3;
    --section-bg-color:rgb(196, 196, 196);
    --light-color: #fff;
    --pop-color: #3E8DE3;
    --text-color: #555;
}

/*================================================*/
/*Body*/

body {
    margin:0 auto;
    max-width: 50 em;
    font-family: Arial, sans-serif;
    padding: 4em 1em;
    line-height: 1.5;
    color: var(--text-color);
}
/*
h2{
    margin-top: 1em;
    padding-top: 1em;
}*/

h1,h2{
    /*change*/
    color: var(--pop-color);
}

/*container*/
.container {
    display: flex;
    height: 100vh;
    text-align: center;
}
/*left*/
.left{
    width: 75%;
    display: flex;
    flex-direction: column;
}
/*right*/
.right{
    width: 25%;
    display: flex;
    justify-content: center;

}
/*Section*/
.about-me, .projects, .contact, .skills {
    background-color: var(--section-bg-color);
    padding: 2px 2px;
    margin: 10px;

}

/*nav*/
nav{
    display: flex;
    align-items: center;
}

nav img{
    width: 100px;
    height: auto;
    margin-left: 20 px;
    margin-right: auto;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}


/*contact*/


/*footer*/
footer{
    bottom:0;
    align-items: center;
    text-align: center;
    width: 100%;
}