*Variables*/
:root{
    --primary-color: #000000;
    --primary-bg-color: #d3d3d3;
    --light-color: #fff;
    --pop-color: #ff2800;
}

/*================================================*/
/*Body*/

body {
    margin:0 auto;
    max-width: 50 em;
    font-family: Arial, sans-serif;
    padding: 4em 1em;
    line-height: 1.5;

    background: var(--primary-color);
    color: #333;
}

h2{
    margin-top: 1em;
    padding-top: 1em;
}

h1,h2{
    /*change*/
    color: blue;
}

/*nav*/



/*contact*/


/*footer*/